/* Jeneral Property */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
}

.container {
    width: 80%;
    margin: auto;
    padding: 45px 0;
    overflow: hidden;
}

.container-nav {
    width: 80%;
    margin: 20px auto;
}

.clear {
    clear: both;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.title-s {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    text-transform: capitalize;
    color: #333;
    text-align: center;
    padding: 65px 0;
    font-family: "Source Sans 3", sans-serif;
}

.title-s .title-hr {
    width: 200px;
    height: 1px;
    margin: 30px auto;
    background: #FF305B;
    position: relative;
}

.title-s .title-hr::before {
    content: "";
    margin: 0 auto;
    position: absolute;
    background: #FF305B;
    width: 100px;
    height: 1px;
    left: 0;
    right: 0;
    top: -5px;
}

.title-s .title-hr::after {
    content: "";
    margin: 0 auto;
    position: absolute;
    background: #FF305B;
    width: 100px;
    height: 1px;
    left: 0;
    right: 0;
    top: 5px;
}

/* section 1 */
.s-1 {
    background: url(https://routeegy.github.io/Fokir/img/header.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
}

.nav {
    margin-top: 2%;
}

.logo {
    color: #FF305B;
    font-size: 24px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    float: left;
    vertical-align: middle;
    width: 25%;
    margin-right: 25%;
}

.ul-nav {
    width: 50%;
    list-style: none;
    float: left;
    vertical-align: middle;
    width: 50%;
}

.ul-nav li {
    display: inline-block;
    margin-right: 20px;
}

.ul-nav li a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}

.ul-nav li a:hover {
    color: #FF305B;
    transition: .5s;
}

.home-li {
    color: #FF305B !important;
}

.content-s-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.p-1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 25px;
}

.content-s-1 h1 {
    font-size: 70px;
    font-weight: bold;
    color: #FF305B;
    text-transform: uppercase;
    margin: 20px 0;
}

.content-s-1 .p-2 {
    font-weight: 150;
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    border-right: solid #fff 3px;
    padding-right: 15px;
}

/* section 2 */

.left-s-2 {
    width: 50%;
    float: left;
    height: 500px;
}

.cont-img {
    width: 65%;
    margin: auto;
    border: solid 7.5px #555555;
    border-radius: 5px;
}

.cont-img-overlay {
    width: 100%;
    position: relative;
    transform: translate(20px, 20px);
}

.cont-img-overlay img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.overlay-s-2 {
    background: rgba(0, 0, 0, 0.57) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
}

.cont-img:hover .overlay-s-2 {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay-s-2 ul {
    list-style: none;
    text-align: center;
    vertical-align: middle;
    margin-top: 60%;
}

.overlay-s-2 ul li {
    display: inline-block;
    margin: 0 10px;
}

.overlay-s-2 ul li i {
    font-size: 20px;
    color: #fff;
    transition: all .5s;
}

.overlay-s-2 ul li i:hover {
    color: #FF305B;
    cursor: pointer;
}

.right-s-2 {
    width: 50%;
    float: left;
}

.right-s-2 h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 4px;
    padding-left: 10px;
    position: relative;
    padding-left: 10px;
}

.right-s-2 h2::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 4px;
    background: #FF305B;
    top: 5px;
    left: 0px;
}

.des-s-2 {
    color: #555555;
    line-height: 24px;
    margin-bottom: 33px;
    border-bottom: 1px dashed #555555;
    padding-bottom: 33px;
}

.right-s-2 ul {
    list-style: none;
    margin-bottom: 15px;
}

.right-s-2 ul li {
    display: inline-block;
    width: 40%;
    margin-bottom: 16px;
}

.right-s-2 ul li span,
p {
    display: inline-block;
}

.right-s-2 ul .li-s {
    width: 40%
}

.right-s-2 ul li span {
    color: #333333;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px
}

.right-s-2 ul li p {
    font-size: 15px;
    color: #555555;
}

.right-s-2 button {
    background: #FF305B;
    color: #fff;
    font-size: 15px;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    padding: 10px 24px;
    transition: .5s;
}

.right-s-2 button:hover {
    background: #EC2403;
    cursor: pointer;
}

.right-s-2 button i {
    margin-left: 10px;
    font-size: 15px;
    color: #fff;
}

.right-s-2 .but-2 {
    margin-left: 10px;
    text-transform: capitalize;
}

/* section 3 */
.s-3 {
    background: #F1F1F1;
}

.cont-item-s-3 {
    overflow: hidden;
}

.cont-item-s-3 * {
    margin-bottom: 20px;
    display: block;
}

.item-s-3 {
    float: left;
    width: 22%;
    text-align: center;
    transition: all 0.3s ;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.item-s-3 i {
    color: #ff305b;
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.3s 0s;
}

.item-s-3:hover{
    background-color: #fff;
}

.item-s-3:hover  i{
    transform: scale(1.25 , 1.25);
} 

.cont-item-s-3 .space {
    margin-right: 4%;
}

.item-s-3 .title-item {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.item-s-3 .des-item {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0px;
}

/* section 4 */
.cont-s-4 ul {
    list-style: none;
    text-align: center;
    margin-top: -55px;
    margin-bottom: 55px;
}

.cont-s-4 ul li {
    display: inline-block;
    margin: 0 20px;
}

.cont-s-4 ul li a {
    text-decoration: none;
    color: #555555;
    font-size: 17px;
    text-transform: uppercase;
    transition: all .5s;
}

.cont-s-4 ul li .a-1 {
    color: #FF305B;
}

.cont-s-4 ul li:hover a {
    color: #ff305b;
}

.item-s-4 {
    float: left;
    width: 32%;
    margin-bottom: 2%;
    position: relative;
}

.cont-item-s-4 .space {
    margin: 0 2%;
}

.item-s-4 img {
    width: 100%;
    background: no-repeat;
    display: block;
}

.overlay-s-4 {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.overlay-s-4 i {
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: #FF305B;
}

.item-s-4:hover .overlay-s-4 {
    background: rgba(0, 0, 0, 0.57);
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

/* section 5 */
.s-5 {
    background: #F1F1F1;
    padding: 50px 0
}

.item-5 {
    float: left;
    width: 25%;
    padding: 10px
}

.cont-item-s-5 * {
    display: block;
    text-align: center;
    margin: 15px 0;
}

.cont-item-s-5 i {
    color: #ff305b;
    font-size: 26px;
}

.cont-item-s-5 .number {
    font-size: 26px;
    font-weight: 800;
    color: #333
}

.cont-item-s-5 .des {
    color: #555555;
    text-transform: capitalize;
}

/* section 6 */
.cont-s-6 {
    width: 65%;
    margin: auto;
    padding: 50px 20px;
    background-color: #F1F1F1;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
}

.cont-img-s-6::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: #ff305b;
    top: -200px;
    left: -200px;
    transform: rotate(45deg);
    z-index: -1;
}

.cont-img-s-6 {
    float: left;
    width: 15%;
    margin-top: -0px;
    z-index: 3;
    position: relative;
}

.cont-img-s-6 img {
    width: 100%;
    border-radius: 50%;
    margin-top: 0px;
}

.cont-text-s-6 {
    float: left;
    width: 78%;
    margin-left: 2%;
}

.cont-text-s-6 .title-s-6,
.des {
    display: block;
    margin-bottom: 15px;
}

.location {
    margin-bottom: 15px;
    color: #777777;
    font-size: 15px;
}

.location i {
    margin-right: 5px;
}

.title-s-6 {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

.cont-text-s-6 .des {
    font-size: 16px;
    font-style: italic;
    color: #55555A;
}

.cont-text-s-6 .stars i {
    color: #f1c30d;
}

.polits {
    margin: 20px auto 0;
}

.polits-1 {
    float: left;
    width: 25px;
    height: 10px;
    border-radius: 5px;
    background-color: #FF305B;
    margin-left: 47.5%;
    cursor: pointer;
}

.polits-2 {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 7.5px;
    border: solid 1px #ff305b;
    cursor: pointer;
}

/* section 7 */
.s-7 {
    background-color: #F1F1F1;
}

.item-s-7 {
    float: left;
    width: 32%;
}

.cont-item-s-7 .space {
    margin: 0 2%;
}

.cont-img-s-7 img {
    width: 100%;
}

.cont-img-s-7 iframe {
    width: 100%;
    display: block;
    height:220px
}

.text-item-s-7 {
    padding: 15px;
    background-color: #fff;
}

.text-item-s-7 * {
    margin-bottom: 15px;
}

.text-item-s-7 .line-1,
.line-3 {
    color: #555555;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    display: block;
}

.text-item-s-7 .line-2 {
    font-size: 24px;
    color: #333333;
    text-transform: capitalize;
    transition: all .5s;
    display: block;
}

.line-2:hover {
    color: #ff305b;
    cursor: pointer;
}

.text-item-s-7 a {
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
}

.text-item-s-7 a i {
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s;
}

.text-item-s-7 a:hover {
    color: #ff305b;
}

.text-item-s-7 a:hover i {
    color: #ff305b
}

/* section 8 */
.s-8{
    padding:40px 0;
}
.s-8 form {
    width: 60%;
    margin: auto;
}

.s-8 form .top-side input,
.bottom-side * {
    font-size: 15px;
    color: #555;
    background-color: #fff;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 20px 0;
    padding: 15px;
    display: block;
    height: 40px;
}

.top-side *::placeholder ,
.bottom-side *::placeholder {
    text-transform: capitalize;
    color: #a8a8a8;
}

.bottom-side *:focus {
    border: 0;
    border: 1px solid #FF305B;
    outline: 0;
}

.top-side input:focus{
    border: 0 !important;
    border: 1px solid #FF305B !important;
    outline: 0 !important;
}

.top-side * {
    float: left;
    width: 49%;
}

.top-side .name-input {
    margin-right: 2% !important;
}

.bottom-side * {
    width: 100%;
}

.bottom-side textarea {
    resize: none;
    height: 150px
}

.send-bottom {
    background-color: #FF305B;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    border:0;
}

.send-bottom:hover {
    background-color: #EC2403;
}

/* section 9 */
.s-9{
    background-color: #333333;
    padding:15px 0;
}

.cont-s-9 ul {
    list-style: none;
    text-align: center;
    margin: 20px 0;
}

.cont-s-9 ul li {
    display: inline-block;
    margin: 0 10px;
}

.cont-s-9 ul li i {
    font-size: 20px;
    color: #fff;
    transition: all .5s;
}

.cont-s-9 ul li i:hover {
    color: #FF305B;
    cursor: pointer;
}

.cont-s-9 .copyright-s-9{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.cont-s-9 .copyright-s-9 a{
    color:#FF305B;
    text-decoration: none;
}

.cont-s-9 .copyright-s-9 a:hover{
    text-decoration:underline;
    color: #FF305B;
}